* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    padding: 10px 0px;
    justify-content: space-around;
    color: black;
    background-color: #A8D5E3;
}

nav ul {
    display: flex;
    gap: 17px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    cursor: default;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    color: rgb(255, 0, 38);
}

.logo {
    font-size: 35px;
    font-weight: bolder;
    font-family: "Dancing Script", cursive;
}

.hero {
    display: flex;
    min-height: 85vh;
    justify-content: center;
    gap: 100px;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color: #FF78AC;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-left .one {
    font-size: 60px;
    color: black;
    font-weight: bolder;
}

.hero-left .two {
    font-size: 40px;
    color: black;
}

.bold {
    font-weight: bold;
    color: rgb(53, 3, 3);
}

.btn {
    margin: 10px 10px 10px 0px;
    padding: 7px 14px;
    border: 2px solid black;
    background: white;
    color: black;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: #A8D5E3;
}

.hero-right .img {
    height: 250px;
    width: 190px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.projects-sec {
    background-color: #F2F0EA;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.projects-sec .text .one {
    padding-top: 10px;
    font-size: 60px;
    font-weight: bolder;
}

.projects-sec .text .two {
    padding-bottom: 10px;
    font-size: 25px;
}

.project {
    display: flex;
    gap: 50px;
    border-top: 2px solid rgb(211 37 63 / 77%);
}

.project-img img {
    width: 32vw;
    border-radius: 4vw;
    padding: 20px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.project-info .text {
    font-size: 25px;
    font-weight: bolder;
}

.project-info .p {
    margin: 20px;
}

.row-reverse {
    flex-direction: row-reverse;
}

footer {
    background-color: rgb(11, 0, 17);
    padding: 15px;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 910px) {
    nav {
        flex-direction: column;
        padding: 5px;
        align-items: center;
        gap: 10px;
    }

    nav ul li a {
    font-size: 15px;
    }

    .logo {
        font-size: 25px;
    }

    .hero {
        flex-direction: column-reverse;
        gap: 2px;
    }

    .hero-right .img{
        margin: 10px;
    }

    .hero-left {
        align-items: center;
    }
}

@media screen and (max-width: 630px) {

    .hero-left .one {
        font-size: 35px;
    }

    .hero-left .two {
        font-size: 25px;
    }

    .hero-right .img {
        height: 200px;
        width: 170px;
    }

    .projects-sec .text .one {
        font-size: 40px;
    }

    .projects-sec .text .two {
        font-size: 20px;
    }

    .project {
        flex-direction: column;
        gap: 0px;
    }

    .project-img img {
        width: 50vw;
        padding: 10px;
    }

    .project-info .text {
        font-size: 20px;
    }
}